<div class="items-detail">
  <div class="weight-bold-text">商品の詳細</div>
  <div class="form">
    <div class="weight-bold-text">
      カテゴリー
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(
      :category_id, Category.all, :id, :name, {include_blank: ''},
      {class:"select-box", id:"item-category"}
    ) %>
    <div class="weight-bold-text">
      商品の状態
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(
      :condition_id, Condition.all, :id, :name, {include_blank: ''},
      {class:"select-box", id:"item-sales-status"}
    ) %>
  </div>
</div>